@import "../../global.scss";

.topbar {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background-color: rgb(182, 121, 121);
  color: $mainColor;
  bottom: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }
    }
  }
}